

.loginForm {
  width: 30%;
  padding: 80px;
  border: 2px solid grey;
  margin: 100px 500px;
  border-radius: 30px;
  transition: box-shadow 0.3s;
  text-align: center;
}

h4{
    margin-bottom: 40px;
        
}

Button {
  margin-top: 20px;
  font-size: 12px;
  
}

Label {
  margin: 3px;
}

Input{
    margin: 10px;
}

.loginForm:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}


table{
    margin: 10px;
    
}

.text{
  margin-left: 450px;
}
